version: 2
jobs:
  build:
    docker:
      - image: 'circleci/node:latest'
    steps:
      - checkout
      - run:
          name: install
          command: yarn install
      - run:
          name: test
          command: yarn test
      - run:
          name: build
          command: yarn build
      - run:
          name: update labels
          command: yarn start
